@model IEnumerable<ABCRetailers.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1 class="mb-4">Customers</h1>

<div class="mb-3">
    <a asp-action="NewCustomer" class="btn btn-primary">Create New</a>
</div>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Firstname)</th>
            <th>@Html.DisplayNameFor(model => model.Surname)</th>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.ShippingAddress)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Firstname)</td>
                <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                <td>
                    <a asp-action="EditCustomer" asp-route-id="@item.CustomerID" class="btn btn-sm btn-warning me-1">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.CustomerID" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>